@import "normalize";
@import "syntax";
@import "variables";
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');

@mixin large {
  @media screen and (min-width: #{$large-breakpoint}) {
    @content;
  }
}

@mixin medium {
  @media screen and (min-width: #{$medium-breakpoint}) and (max-width: #{$large-breakpoint}) {
    @content;
  }
}

@mixin small {
  @media screen and (max-width: #{$medium-breakpoint}) {
    @content;
  }
}

* {
  box-sizing: border-box;
}

body {
    font: 16px "Roboto", sans-serif;
    letter-spacing: 0.25px;
}

h1, h2, h3, h4, h5, h6, .modal-title {
    font-family: "Barlow", sans-serif;
}

code, pre {
    font: 15px "Fira Mono", sans-serif;
}

h1 {
  font-size: 48px;
  font-weight: 200;
  line-height: 1.2em;
}

h2 {
  font-size: 34px;
  font-weight: 300;
  line-height: 1.2em;
}

h3 {
  font-size: 28px;
  font-weight: 400;
  line-height: 1.2em;
}

h4 {
  font-size: 24px;
  font-weight: 400;
  line-height: 1.2em;
}

h5 {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2em;
}

h6 {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.2em;
}

strong {
  font-weight: 700;
}

.small {
  font-size: 0.8em;
}

body {
  padding: 0;
  margin: 0;
  line-height: 22px;
  color: $body-text-color;
  background: $body-background-color;
}

a {
  color: $accent-color;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.button {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  display: inline-block;
  margin: 5px 0;
  text-decoration: none;
  padding: 0.6rem 0.9rem;
  transition: color 0.2s, background-color 0.2s, border-color 0.2s;
  /*-webkit-box-shadow: 0 1px 4px rgba(0,0,0,.33), inset 0 1px 1px rgba(255,255,255,.13);
  -moz-box-shadow: 0 1px 4px rgba(0,0,0,.33), inset 0 1px 1px rgba(255,255,255,.13);
  box-shadow: 0 1px 4px rgba(0,0,0,.33), inset 0 1px 1px rgba(255,255,255,.13);*/
  border: 20px solid transparent;
  border-width: 1px;
  border-style: solid;
  border-image: linear-gradient(135deg, #fa5f8b 0%,#d3ab58 100%);
  border-image-slice: 1;
  //background: lighten($body-background-color, 5%);
  color: $body-text-color;
  border-radius: 5px;

  &:hover {
    text-decoration: none;
    background: lighten($body-background-color, 5%);
    //background: darken($accent-color, 7%);
    color: $highlight-text-color;
  }

  + .button {
    margin-left: 1rem;
  }

  @include medium {
    font-size: 0.9rem;
  }

  @include small {
    display: block;
    width: 100%;
    font-size: 0.9rem;

    + .button {
      margin-top: 1rem;
      margin-left: 0;
    }
  }
}

.page-header {
  color: $heading-color;
  text-align: center;
  background-color: $header-bg-color;

  h1 {
    background-image: linear-gradient(135deg, #0080d2 0%,#00ab9a 100%);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
  }

  @include large {
    padding: 5rem 6rem;
  }

  @include medium {
    padding: 3rem 4rem;
  }

  @include small {
    padding: 2rem 1rem;
  }
}

.project-name {
  margin-top: 0;
  margin-bottom: 0.1rem;

  @include large {
    font-size: 3.25rem;
  }

  @include medium {
    font-size: 2.5rem;
  }

  @include small {
    font-size: 2.5rem;
  }
}

.project-tagline {
  margin-bottom: 2rem;
  font-weight: normal;
  opacity: 0.7;

  @include large {
    font-size: 1.25rem;
  }

  @include medium {
    font-size: 1.15rem;
  }

  @include small {
    font-size: 1rem;
  }
}

.main-content {
  word-wrap: break-word;

  :first-child {
    margin-top: 0;
  }

  @include large {
    max-width: 64rem;
    padding: 2rem 6rem;
    margin: 0 auto;
    font-size: 1.1rem;
  }

  @include medium {
    padding: 2rem 4rem;
    font-size: 1.1rem;
  }

  @include small {
    padding: 2rem 1rem;
    font-size: 1rem;
  }

  img {
    max-width: 100%;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-top: 2rem;
    margin-bottom: 1rem;
    color: $heading-color;
  }

  p {
    margin-bottom: 1em;
  }

  code {
    padding: 2px 4px;
    color: $code-text-color;
    border-radius: 5px;
  }

  pre {
    padding: 0.8rem;
    margin-top: 0;
    margin-bottom: 1rem;
    color: $code-text-color;
    word-wrap: normal;
    background-color: $code-bg-color;
    border-radius: 5px;

    > code {
      padding: 0;
      margin: 0;
      color: $code-text-color;
      word-break: normal;
      white-space: pre;
      background: transparent;
      border: 0;
    }
  }

  .highlight {
    margin-bottom: 1rem;

    pre {
      margin-bottom: 0;
      word-break: normal;
    }
  }

  .highlight pre,
  pre {
    padding: 0.8rem;
    overflow: auto;
    font-size: 0.9rem;
    line-height: 1.45;
    border-radius: 0.3rem;
    -webkit-overflow-scrolling: touch;
  }

  pre code,
  pre tt {
    display: inline;
    max-width: initial;
    padding: 0;
    margin: 0;
    overflow: initial;
    line-height: inherit;
    word-wrap: normal;
    background-color: transparent;
    border: 0;

    &:before,
    &:after {
      content: normal;
    }
  }

  ul,
  ol {
    margin-top: 0;
  }

  blockquote {
    padding: 0 1rem;
    margin-left: 0;
    border-left: 0.3rem solid $border-color;

    > :first-child {
      margin-top: 0;
    }

    > :last-child {
      margin-bottom: 0;
    }
  }

  table {
    display: block;
    width: 100%;
    overflow: auto;
    word-break: normal;
    word-break: keep-all; // For Firefox to horizontally scroll wider tables.
    -webkit-overflow-scrolling: touch;

    th {
      font-weight: bold;
    }

    th,
    td {
      padding: 0.5rem 1rem;
      border: 1px solid $border-color;
    }
  }

  dl {
    padding: 0;

    dt {
      padding: 0;
      margin-top: 1rem;
      font-size: 1rem;
      font-weight: bold;
    }

    dd {
      padding: 0;
      margin-bottom: 1rem;
    }
  }

  hr {
    height: 2px;
    padding: 0;
    margin: 1rem 0;
    background-color: $border-color;
    border: 0;
  }
}

.site-footer {
  padding-top: 2rem;
  margin-top: 2rem;
  border-top: solid 1px $border-color;

  @include large {
    font-size: 1rem;
  }

  @include medium {
    font-size: 1rem;
  }

  @include small {
    font-size: 0.9rem;
  }
}

.site-footer-owner {
  display: block;

  a {
    color: $accent-color-secondary;
  }
}
