$large-breakpoint: 880px !default;
$medium-breakpoint: 680px !default;

$heading-color: #e2e8f5 !default;
$body-text-color: #c4c9d6 !default;
$highlight-text-color: #ffffff !default;
$body-background-color: #1f2124 !default;
$accent-color: #06a2ab !default;
$accent-color-secondary: #e2326f !default;
$border-color: lighten($body-background-color, 10%) !default;

$mono-1: #e2e8f5 !default;
$mono-2: #c4c9d6 !default;
$mono-3: #a6abb8 !default;
$mono-4: #898e9a !default;
$mono-5: #6d727e !default;
$mono-6: #525762 !default;
$mono-7: #393e48 !default;
$mono-8: #21262f !default;
$hue-3: #fa5f8b !default;
$hue-5: #f06c6f !default;
$hue-7: #e17954 !default;
$hue-6: #d08447 !default;
$hue-4: #d3ab58 !default;
$hue-8: #00ab9a !default;
$hue-2: #00a9b9 !default;
$hue-1: #00a3d2 !default;

$code-bg-color: #21262f !default;
$code-text-color: #a6abb8 !default;
